.vscode

# DO NOT SHOW CONFIG FILE: SENSITIVE DATA
config.json

# Build
build/

# Testing Framework
googletest/

# Executable
engine

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
